@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}



html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(31deg, #e42020, #27c3c5, #000000);
    background-size: 600% 600%;
    -webkit-animation: Gradient 30s ease infinite;
    -moz-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;
    
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo{
    height: 5rem;
    width: 7rem;
    border-radius: 90%;
    cursor: pointer;
    transition: 0.9s ease;
    
}

h1.projo{
    color: black;
    margin-top: 90px;
    font-size: 40px;
}


.logo:hover{
    transform: scale(1.1);
}

.me{
    box-shadow: -6px -6px #b74b4b;
}



nav a {
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: black;
    border-bottom: 3px solid #b74b4b;
}

/* Styling for Menu Icon */
#menu-icon {
    display: none;
    font-size: 2rem;
    color: #b74b4b;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}

/* Hide Navbar when scrolled */
#navbar {
    transition: opacity 0.3s ease;
}

#navbar.hidden {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    
    .me {
        max-width: 250px;
        max-height: 250px;
        
    }

    h1{
        font-size: 10px;
    }


    #navbar {
        display: none; /* Hide the navbar by default on small screens */
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 150px;
        height: 30vh;
        background-color: white;
        padding: 2rem;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    }

    h2.cursor.typewriter-animation{
        font-size: 10px;
    }

    .typing-text span::after{
        content: "";
        background-color: black;
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        border-left: 3px solid black;
        right: -10;
        animation: cursor 0.6s infinite;
    }

    video {
        width: 100%;
        height: auto;
        margin: auto;
    }
    

    #navbar.show {
        display: flex; /* Show when triggered */
    }

    nav a {
        margin: 1rem 0;
    }
}
#header.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}


@media(max-width:995px){


    h1 {
        font-size: 25px !important;
    }

    h3 {
        font-size: 15px !important;
        padding-top: 5%;
        padding-bottom: 0;
    }

    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-img img{
        width: 100vw;
        margin-top: 4rem;
        
    }


    .me {
        height: 65rem;
        width: 20rem;
    }
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: linear-gradient(31deg, #e42020, #27c3c5, #000000);
    background-size: 600% 600%;
    -webkit-animation: Gradient 30s ease infinite;
    -moz-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;
}



@-webkit-keyframes Gradient {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes Gradient {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: black;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 20vw;

    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid black;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: black;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}



.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Web Designer";
    color: black;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 15%{
        content: "Web Designer";
    }
    16%, 30%{
        content: "Developer";
    }
    31%, 45%{
        content: "Video Editor";
    }
   
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}


    

/* Flex container for side-by-side layout */
.flex-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between title and content */
    margin-bottom: 30px; /* Space between projects */
}

  
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}


.project-title {
    min-width: 150px; /* Width for title area */
    text-align: left;
}


.slideshow {
    position: relative;
    width: 100%;  
    max-width: 700px; /* Increased max-width for larger slideshow */
    height: 450px;    /* Increased height for larger slideshow */
    margin: auto;
    overflow: hidden;
}

/* Center the images fully within the slideshow */
.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Center the video */
video {
    max-width: 690px; /* Increase video width for a balanced look */
    height: auto;
    margin: auto;
}

.list {
    margin-left: 7px;
    margin-top: 10px;
    font-size: 15px;
}
.exp {
    margin-top: 3px;
    font-size: 20px;
    color: black;
}


.timeline-section h2 {
    color: black;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.timeline-section ul.list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 1.6rem;
}

.timeline-section ul.list li {
    margin: 1rem 0;
    font-weight: 400;
}

