@font-face {
    font-family: "Inter-Regular";
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter-Bold";
    src: url(fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: "Inter-Medium";
    src: url(fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(fonts/Inter-ExtraBold.ttf);
}

@font-face{
    font-family: "Calgary";
    src: url(fonts/Calgary-Script-OT.otf);
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url(fonts/Inter-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }

html {
    scroll-behavior: smooth;
}

h2{
    font-family:"Inter-ExtraBold";
    font-size:45px;
    line-height:50px;
    color:#242424;
}

/* GLOBAL HEADER */

header{
    background-color:#084c3d;
    position:sticky;
    top: 0;
    z-index:1000;
}

.header-content-wrap{
    box-sizing:border-box;
    width:100%;
    padding: 35px 7% 35px 7%;
}

a{
    text-decoration: none;
    color:#FFFFFF;
    font-family:Inter-Medium;
}

.nav-left>a:hover{
    color:#FEC92F;
}

.current-menu-item{
    border-bottom-width: 2px;
    border-bottom-style:solid;
    padding:3px 0;
    color:#FEC92F;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

.nav-left{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.nav-left>a{
    margin-left:50px;
    text-transform:uppercase;
    font-size:1em;
}

.logo-icon{
    width:48px;
    height:auto;
    margin-left:-50px;
}

.nav-logo-link{
    display:flex;
    align-items:center;
    justify-content: center;
}

.get-app-button{
    background-color: #3CCFBC;
    border-width:0;
    border-width:0;
    width:195px;
    font-size:1.375em;
    font-family:Inter-ExtraBold;
    text-align:center;
    padding:10px 0;
}


/* FIRST SECTION */

#first-section{
    background-image:url(img/bg-wave-bottom.jpg);
    background-size:cover;
    display:flex;
    padding:0px 20px 0px 10%;
    flex-wrap:nowrap;
    min-height:80vh;
    
}
.logo-xl{
    font-family:Inter-Extrabold;
    line-height:0.82em;
    font-size:11.875em;
    letter-spacing:-11.4px;
    color:#FFFFFF;
    text-align:left;
    margin-top:10%;
    
}

.h1-white{
    font-family:Inter-Extrabold;
    font-size:70px;
    line-height:65px;
    color:#FFFFFF;
}

.flex-center{
    margin-top:20%;
    translate:10% 0%;
}

.phone-app-main{
    max-width:40%;
    height:auto;
    align-self:flex-end;
    z-index:1;
    margin-top:50px;
    margin-right:10%;
}

.button-arrow{
    position:absolute;
    width:150px;
    height:150px;
    background-color:#3CCFBC;
    border-radius:50%;
    left:50%;
    margin-left:-75px;
    bottom:5%;
    text-align:center;
}

.arrow{
    color:white;
    width:40%;
    margin-top:25%;
}



/* SECOND SECTION */

.s2-content-wrap{
    text-align:center;
    padding-top:10%;
}
.s2-img1{
    margin-left:5%;
    padding-right:5%;
}

.s2-img2{
    margin-right:5%;
    padding-left:5%;
}

.span-script-l-black{
    color:#242424;
    font-size:275px;
    line-height:275px;
    font-family:Calgary;
    text-align:center;
    width:50%;
}

.s2-text-wrap{
    display:flex;
    margin:5% 18% 5% 18%;
}

.s2-text-wrap>*{
    width:100%;
}

.s2-text-wrap>h2{
    text-align:right;
}

.s2-text-wrap>p{
    text-align:left;
    padding-top:3em;
}

.p-l-black{
    font-family:"Inter-Regular";
    font-size:26px;
    line-height:31px;
    color:#242424;
}


/* THIRD SECTION */

#third-section{
    position:relative;
    margin-bottom:10%;
}
.bg-svg-s3{
    position:absolute;
    top:0;
    z-index:-1;
}

.s3-content-wrap-top{
    display:flex;
    margin-right:10%;
    margin-left:10%;
    
}
.s3-content-wrap-top>*{
    width:100%;
}

.h3-white{
    font-family:"Inter-ExtraBold";
    font-size:35px;
    line-height:50px;
    color:#FFFFFF;
}

.headline-span-xl-text-teaser{
    font-family:"Inter-ExtraBold";
    font-size:125px;
    line-height:110px;
    color:#FFFFFF;
}

.s3-content-top-left{
    margin-top:25vh;
}

.s3-content-top-left>div{
    padding-left:5%; 
    padding-right:20%;
}


.s3-content-wrap-top>img{
    max-width:30%;
    height:auto;
    border-radius:20px;
    box-shadow: 0px 3px 6px #00000029;
    margin-top:25vh;
}

.s3-content-wrap-bottom{
    text-align:center;
    margin:auto;
    padding:5% 25% 0 25%;
}

.headline-span-xl-numbers{
    font-family:"Inter-ExtraBold";
    font-size:170px;
    line-height:175px;
    letter-spacing:-12.75px;
    color:#242424;
}

.s3-content-wrap-bottom>h2{
    padding:20px 10% 5% 10%;
}

.s3-content-wrap-bottom>.p-l-black{
    padding-left:10%;
    padding-right:10%;
}

.dominion-button{
    display:flex;
    justify-content:center;
    align-items:center;
    height:56px;
    width:30%;
    background-color:#084c3d;
    text-align:center;
    border-radius:7px;
    margin:auto;
    margin-top:5%;
    margin-bottom:2%;
}
.play{
    width:12px;
    margin-left:10px;
}
.p-s-green{
    font-family:"Inter-Bold";
    color:#084c3d;
    font-size:14px;
    line-height:17px;
}

.primary-btn-white-l{
    font-family:"Inter-ExtraBold";
    font-size:22px;
    line-height:25px;
}

.span-script-l-white{
    color:white;
    font-size:275px;
    line-height:275px;
    font-family:Calgary;
    text-align:center;
    width:50%;
}

h4{
    font-family:Inter-Bold;
    font-size:30px;
    text-align:center;
    line-height:35px;
    color:#07483A99;
}

.p-form-label{
    font-family:Inter-SemiBold;
    font-size:12px;
    text-align:left;
    line-height:50px;
    
}

.form-input-field{
    margin:0;
    padding:0;
}

form > *{
    display:inline-block;
}

.form-rectangle{
    border:none;
    border-bottom:solid 1px black;
}

.form-rectangle:focus{
    outline:none;
}

textarea:focus{
    outline:none;
}
