body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-Bold";
  src: url(fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url(fonts/Inter-ExtraBold.ttf);
}

@font-face{
  font-family: "Calgary";
  src: url(fonts/Calgary-Script-OT.otf);
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url(fonts/Inter-SemiBold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}

h2{
  font-family:"Inter-ExtraBold";
  font-size:45px;
  line-height:50px;
  color:#242424;
}

/* GLOBAL HEADER */

header{
  background-color:#084c3d;
  position:sticky;
  top: 0;
  z-index:1000;
}

.header-content-wrap{
  box-sizing:border-box;
  width:100%;
  padding: 35px 7% 35px 7%;
}

.nav-left>a{
  text-decoration: none;
  color:#FFFFFF;
  font-family:Inter-Medium;
}

.nav-left>a:hover{
 
  background:darkcyan;
  color:white;
  border-radius: 5px;
  transition: width 0.5s;
}

.dropdown-item>a{
  text-decoration: none;
  color:#212529;
  font-family:Inter-Medium;
}

.dropdown-item:hover{
  color:purple;
}


.nav-left>a.current-menu-item{
  border-bottom-width: 2px;
  border-bottom-style:solid;
  padding:3px 0;
  color:darkcyan;
}
a.current-menu-item:hover{
color:white}


nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height: 80px;
  background-color: #1e2124; 
  
}
button.ms-2.me-2.btn.btn-success,button.form-control.btn.btn-primary {
  background-color: darkcyan;
  border:white;
}

.header-content-wrap {
  box-sizing: border-box;
  width: 100%;
  padding: 35px 7% 35px 7%;
  background-color: #1e2124; }

.nav-left{
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.nav-left>a{
  margin-left:50px;
  text-transform:uppercase;
  font-size:1em;
}

.logo-icon{
  width:240px;
  height:240px;
  margin-left:-50px;
}

.nav-logo-link{
  display:flex;
  align-items:center;
  justify-content: center;
}



#loginButtonDiv>*, #dropdown-basic-button{
  background-color: darkcyan;
  border-width:0;
  border-width:0;
  width:145px;
  font-size:1.375em;
  font-family:Inter-ExtraBold;
  text-align:center;
  padding:10px 0;
 
}



div.modal-header {
  color:white;
  background-color:darkcyan ;
}





button.me-2.btn.btn-success {
  background-color: darkcyan;
}


.h1-white{
  font-family:Inter-Extrabold;
  font-size:50px;
  line-height:65px;
  position: relative;
  left:-500px;
  color:#FFFFFF;
}

.flex-center{
  margin-top:20%;
  translate:10% 0%;
}

.phone-app-main{
  max-width:40%;
  height:auto;
  align-self:flex-end;
  z-index:1;
  margin-top:50px;
  margin-right:10%;
}

.button-arrow{
  position:absolute;
  width:150px;
  height:150px;
  background-color:#3CCFBC;
  border-radius:50%;
  left:50%;
  margin-left:-75px;
  bottom:5%;
  text-align:center;
}

.arrow{
  color:white;
  width:40%;
  margin-top:25%;
}








.dominion-button{
  display:flex;
  justify-content:center;
  align-items:center;
  height:56px;
  width:30%;
  background-color:#084c3d;
  text-align:center;
  border-radius:7px;
  margin:auto;
  margin-top:5%;
  margin-bottom:2%;
  text-decoration: none;
  color:#FFFFFF
}
.play{
  width:12px;
  margin-left:10px;
}


.primary-btn-white-l{
  font-family:"Inter-ExtraBold";
  font-size:22px;
  line-height:25px;
}

.span-script-l-white{
  color:white;
  font-size:275px;
  line-height:275px;
  font-family:Calgary;
  text-align:center;
  width:50%;
}

h4{
  font-family:Inter-Bold;
  font-size:30px;
  text-align:center;
  line-height:35px;
  color:#07483A99;
}

.p-form-label{
  font-family:Inter-SemiBold;
  font-size:12px;
  text-align:left;
  line-height:50px;
  
}

.form-input-field{
  margin:0;
  padding:0;
}

form > *{
  display:inline-block;
}

.form-rectangle{
  border:none;
  border-bottom:solid 1px black;
}

.form-rectangle:focus{
  outline:none;
}

textarea:focus{
  outline:none;
}


